[defaults]
# make roles path relative to the project root when running from main-infra
roles_path = ./ansible/roles
inventory = ./ansible/inventory
host_key_checking = False
retry_files_enabled = False
forks = 10

[ssh_connection]
pipelining = True
